.header {
  display: flex;
  justify-content: center;
  align-items: center;
  //position: relative;
  width: 100%;
  box-shadow: $shadow-color-header;
  &__logo {
    max-width: 180px;
    height: 40px;
    object-fit: contain;
  }
}
