.howitworks {
  padding: 60px 20px;

  &__list {
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    @include media-desktop {    
      flex-direction: row;
      gap: 40px;
      justify-content: space-around;
   }  
  }

  h2 {
    text-align: center;
    margin-bottom: 30px;
    text-align: left;
  }
}

.howitworks-card {
  position: relative;
  display: flex;
  align-items: center;
  background-color: $background-color-layout;
  padding: 20px 40px;
  border-radius: 20px;
  box-shadow: $shadow-color-card;
  cursor: pointer;
  @include media-desktop {    
    width: 29%;    
    padding: 30px 10px 30px 40px;
  }  
  &:hover {
    background-color: $background-color-action-icon-hover;
    .howitworks-card__icon {
      color: $color-primary;
    }
  }

  &__index {
    position: absolute;
    left: -12px;
    border-radius: 50px;
    background-color: $color-primary;
    color: #ffff;
    padding: 6px 10px;
  }

  &__icon {
    color: $color-action-icon;
    text-align: center;
    width: 20px;
    font-size: 20px;
  }

  &__text {
    margin-left: 30px;
    font-weight: 600;
  }
}
