.list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    h3 {
        margin: 20px 0;
        position: relative;
    }
    h3::after {
        content: "";
        position: absolute;
        top: 24px;
        left: 2px;
        width: 50px;
        height: 4px;
        background-color: $color-tertiary;
    }
    &-group {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.menu-card {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: $shadow-color-card;
    background-color: $background-color-menu-card;
    line-height: 1.8;
    animation: fadecard-in 2400ms both;
    //animation: fadecard-in 4s ease-in-out both;
    h4 {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &__body {
        padding: 10px 10px 10px 20px;
        width: 100%;
        min-width: 240px;
    }
    &__text {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    &__info {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-right: 20px;
    }
    &__price {
        font-weight: bold;
        display: inline-block;
        margin-right: 10px;
        margin-left: auto;
    }
    &__check {
        width: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0 20px 20px 0;
        background-color: #99E2D0;
        margin-right: -90px;
        transition: margin-right 0.4s ease-out;

        &__icon {
            font-size: 16px;
            padding: 2px;
            border-radius: 50%;
            border: 5px solid #ffff;
            background-color: #ffff;
            color: #99E2D0;
        }
    }
    &:hover {
        .menu-card__check {
            margin-right: 0px;
        }
        .menu-card__check__icon {
            animation: animate-icon 0.4s ease forwards;
        }
    }
}

@for $i from 1 through 10 {
    .animation-index--#{$i} {
        animation-delay: #{$i*800}ms;
    }
}

@keyframes animate-icon {
    0% {
        transform: rotate(0);
    }
    20% {
        transform: rotate(90deg);
    }
    30% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadecard-in {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
  }

