body {
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h1 {
  font-size: 25px;
  font-family: "Shrikhand", cursive;
  margin: 15px;
  font-weight: 500;
}

h2 {
  font-size: 25px;
  font-weight: bold;
}

h3 {
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
}

h4 {
  font-size: 18px;
  font-weight: 900;
}

img {
  object-fit: cover;
}

.heading__logo {
  max-width: 260px;
  width: 70%;
  height: 62px;
  margin: auto;
  object-fit: contain;
}

.position {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f9fa46;
  padding: 20px;
  gap: 20px;
}
.position__text {
  border: none;
  font-weight: 800;
  color: #4D4D4DCC;
  width: 130px;
}

.fa-heart {
  font-size: 26px;
  height: 26px;
  margin-right: 10px;
  cursor: pointer;
}
.fa-heart:hover {
  animation: compute 3s ease-in-out;
  opacity: 0.9;
  /*   background:linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    background:-webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da); */
  background: #b35cdc;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  flex-direction: column;
  background-color: #f6f6f6cb;
}
.introduction__text {
  color: #4D4D4DCC;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}
.introduction h2 {
  text-align: center;
  margin-bottom: 12px;
}

.introduction__button {
  border-radius: 200px;
  padding: 17px 28px;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  color: #f6f6f6cb;
  filter: brightness(1);
  transition: all 0.25s;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.introduction__button:hover {
  filter: brightness(1.2);
  box-shadow: 2px 8px 8px 0 rgba(0, 0, 0, 0.3);
}

.howitworks {
  padding: 60px 20px;
}
.howitworks__list {
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}
.howitworks h2 {
  text-align: center;
  margin-bottom: 30px;
  text-align: left;
}

.howitworks-card {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f6f6f6cb;
  padding: 20px 40px;
  border-radius: 20px;
  box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.howitworks-card:hover {
  background-color: #f7c0e7;
}
.howitworks-card:hover .howitworks-card__icon {
  color: #9356DC;
}
.howitworks-card__index {
  position: absolute;
  left: -8px;
  border-radius: 200px;
  background-color: #9356DC;
  color: #ffff;
  padding: 6px 10px;
}
.howitworks-card__icon {
  color: #4D4D4DCC;
  text-align: center;
  width: 20px;
  font-size: 20px;
}
.howitworks-card__text {
  margin-left: 30px;
  font-weight: 600;
}

.restaurants {
  padding: 50px 20px;
  background-color: #f6f6f6cb;
}
.restaurants h2 {
  margin-bottom: 30px;
}
.restaurants__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  display: flex;
  flex-direction: column;
}

.restaurant-card {
  position: relative;
  width: 25%;
  background-color: #f6f6f6cb;
  border-radius: 20px;
  box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.15);
  width: 100%;
}
.restaurant-card__image {
  height: 180px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}
.restaurant-card__body {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.restaurant-card__body h4 {
  margin-bottom: 10px;
}
.restaurant-card__tooltip {
  color: #008766;
  padding: 12px 16px;
  background-color: #99E2D0;
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 16px;
  font-weight: bold;
}
.restaurant-card__position {
  font-size: 18px;
  font-weight: 400;
}

.footer {
  background-color: #353535;
  color: #f6f6f6cb;
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.footer__title {
  font-size: 20px;
  font-weight: 400;
  font-family: "Shrikhand", cursive;
}
.footer__icon {
  text-align: center;
  font-size: 12px;
  width: 12px;
}
.footer__text {
  font-weight: 400;
}
.footer__nav {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  margin-left: 0px;
  margin-top: 20px;
}
.footer a {
  list-style: none;
  display: flex;
  padding: 12px 0;
  align-items: center;
  gap: 10px;
}

/*# sourceMappingURL=style.css.map */
