body {
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h1 {
  font-family: "Shrikhand", cursive;
  margin: 10px;
  font-weight: 500;
  text-align: center;
  width: 100%;
}

h2 {
  font-size: 22px;
  font-weight: bold;
}

h3 {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

h4 {
  font-size: 16px;
  font-weight: 900;
}

img {
  object-fit: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.position {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f9fa46;
  padding: 20px;
  gap: 20px;
}
.position__text {
  border: none;
  font-weight: 800;
  color: #4d4d4dcc;
  background-color: #f5f9fa46;
  width: 130px;
}

.restaurant-card__heart {
  font-size: 30px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
  background: linear-gradient(180deg, white 0%, #9356dc 10%, #ff79da 20%, #ff79da 80%);
  background-size: 100% 200%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-position-y: 0;
  transition: all 0.1s ease-in-out;
  position: absolute;
  top: 200px;
  right: 20px;
}
.restaurant-card__heart:hover {
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  background-position-y: -5rem;
}

.restaurant-title__heart {
  font-size: 30px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
  background: linear-gradient(180deg, white 0%, #9356dc 10%, #ff79da 20%, #ff79da 80%);
  background-size: 100% 200%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-position-y: 0;
  transition: all 0.1s ease-in-out;
}
.restaurant-title__heart:hover {
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  background-position-y: -5rem;
}

/*
.button__gradient {
    @include gradient-button;
}
*/
.container-wrapper-animate {
  position: relative;
  opacity: 0;
  animation: fadein 6s ease-in-out forwards;
}

.loader-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  pointer-events: none;
  opacity: 1;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  justify-content: center;
  animation: fadein 8s ease-in-out forwards;
  animation-direction: reverse;
}

.loader {
  width: 240px;
  height: 240px;
  border: 16px solid #f2f2f2;
  border-radius: 50%;
  border-top: 16px solid #9356dc;
  animation: spin 1.2s ease-in forwards;
  animation-iteration-count: 6.2;
  opacity: 0;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: rotate(270deg);
    opacity: 1;
  }
  75% {
    transform: rotate(320deg);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(360deg);
  }
}
.header-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 12px 0;
  width: 100%;
}
.header-menu__home {
  margin: 0 auto;
}
.header-menu__back {
  font-size: 24px;
  margin-left: 20px;
}

.animation-index--1 {
  animation: fadecard-in 2400ms both;
  animation-delay: 800ms;
}

.animation-index--2 {
  animation: fadecard-in 2400ms both;
  animation-delay: 1600ms;
}

.animation-index--3 {
  animation: fadecard-in 2400ms both;
  animation-delay: 2400ms;
}

.animation-index--4 {
  animation: fadecard-in 2400ms both;
  animation-delay: 3200ms;
}

.animation-index--5 {
  animation: fadecard-in 2400ms both;
  animation-delay: 4000ms;
}

.animation-index--6 {
  animation: fadecard-in 2400ms both;
  animation-delay: 4800ms;
}

.animation-index--7 {
  animation: fadecard-in 2400ms both;
  animation-delay: 5600ms;
}

.animation-index--8 {
  animation: fadecard-in 2400ms both;
  animation-delay: 6400ms;
}

.animation-index--9 {
  animation: fadecard-in 2400ms both;
  animation-delay: 7200ms;
}

.animation-index--10 {
  animation: fadecard-in 2400ms both;
  animation-delay: 8000ms;
}

.animation-index--11 {
  animation: fadecard-in 2400ms both;
  animation-delay: 8800ms;
}

.animation-index--12 {
  animation: fadecard-in 2400ms both;
  animation-delay: 9600ms;
}

.animation-index--13 {
  animation: fadecard-in 2400ms both;
  animation-delay: 10400ms;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  flex-direction: column;
  background-color: #f2f2f2;
}
.introduction__text {
  color: #4d4d4dcc;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}
.introduction h2 {
  text-align: center;
  margin-bottom: 12px;
}
.introduction__button {
  border-radius: 50px;
  padding: 20px 30px;
  background: linear-gradient(180deg, #ff79da, #9356dc);
  color: #f2f2f2;
  filter: brightness(1);
  transition: all 0.3s;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.introduction__button:hover {
  filter: brightness(1.2);
  box-shadow: 2px 8px 8px 0 rgba(0, 0, 0, 0.3);
}

.howitworks {
  padding: 60px 20px;
}
.howitworks__list {
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .howitworks__list {
    flex-direction: row;
    gap: 40px;
    justify-content: space-around;
  }
}
.howitworks h2 {
  text-align: center;
  margin-bottom: 30px;
  text-align: left;
}

.howitworks-card {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  padding: 20px 40px;
  border-radius: 20px;
  box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .howitworks-card {
    width: 29%;
    padding: 30px 10px 30px 40px;
  }
}
.howitworks-card:hover {
  background-color: #f7c0e7;
}
.howitworks-card:hover .howitworks-card__icon {
  color: #9356dc;
}
.howitworks-card__index {
  position: absolute;
  left: -12px;
  border-radius: 50px;
  background-color: #9356dc;
  color: #ffff;
  padding: 6px 10px;
}
.howitworks-card__icon {
  color: #4d4d4dcc;
  text-align: center;
  width: 20px;
  font-size: 20px;
}
.howitworks-card__text {
  margin-left: 30px;
  font-weight: 600;
}

.home {
  width: 100%;
}

.restaurants {
  padding: 50px 20px;
  background-color: #f2f2f2;
}
.restaurants h2 {
  margin-bottom: 30px;
}
.restaurants__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
@media screen and (min-width: 992px) {
  .restaurants__list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: space-around;
    padding: 0 40px;
  }
}

.restaurant-card {
  position: relative;
  background-color: #f2f2f2;
  border-radius: 20px;
  box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.15);
  width: 100%;
}
@media screen and (min-width: 992px) {
  .restaurant-card {
    width: 44%;
    justify-content: space-around;
  }
}
.restaurant-card__image {
  height: 180px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}
.restaurant-card__body {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.restaurant-card__body h4 {
  margin-bottom: 10px;
}
.restaurant-card__tooltip {
  color: #008766;
  padding: 12px 16px;
  background-color: #99e2d0;
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 16px;
  font-weight: bold;
}
.restaurant-card__position {
  font-size: 18px;
  font-weight: 400;
}

.menu {
  width: 100%;
}
.menu__image {
  width: 100%;
  height: 280px;
}
.menu__image img {
  object-fit: cover;
}
.menu__list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -40px;
  padding: 40px 30px 10px;
  border-radius: 40px 40px 0px 0px;
  background-color: #f2f2f2;
}
.menu__list__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}
.menu__list__title h2 {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  font-weight: 500;
}
.menu__button {
  margin: 40px auto;
  border-radius: 50px;
  padding: 20px 30px;
  background: linear-gradient(180deg, #ff79da, #9356dc);
  color: #f2f2f2;
  filter: brightness(1);
  transition: all 0.3s;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.menu__button:hover {
  filter: brightness(1.2);
  box-shadow: 2px 8px 8px 0 rgba(0, 0, 0, 0.3);
}

.list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-around;
    padding: 0 40px;
  }
}
.list h3 {
  margin: 20px 0;
  position: relative;
}
.list h3::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 2px;
  width: 50px;
  height: 4px;
  background-color: #99e2d0;
}
.list-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 992px) {
  .list-group {
    width: 30%;
    gap: 30px;
    justify-content: flex-start;
  }
}

.menu-card {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffff;
  line-height: 1.8;
}
.menu-card h4 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu-card__body {
  padding: 10px 10px 10px 20px;
  width: 100%;
  min-width: 240px;
}
@media screen and (min-width: 992px) {
  .menu-card__body {
    padding: 20px 20px 20px 30px;
  }
}
.menu-card__text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.menu-card__info {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: 20px;
}
.menu-card__price {
  font-weight: bold;
  display: inline-block;
  margin-right: 10px;
  margin-left: auto;
}
.menu-card__check {
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 20px 20px 0;
  background-color: #99E2D0;
  margin-right: -90px;
  transition: margin-right 0.4s ease-out;
}
.menu-card__check__icon {
  font-size: 16px;
  padding: 2px;
  border-radius: 50%;
  border: 5px solid #ffff;
  background-color: #ffff;
  color: #99E2D0;
}
.menu-card:hover .menu-card__check {
  margin-right: 0px;
}
.menu-card:hover .menu-card__check__icon {
  animation: animate-icon 0.4s ease forwards;
}

.animation-index--1 {
  animation: fadecard-in 2400ms both;
  animation-delay: 800ms;
}

.animation-index--2 {
  animation: fadecard-in 2400ms both;
  animation-delay: 1600ms;
}

.animation-index--3 {
  animation: fadecard-in 2400ms both;
  animation-delay: 2400ms;
}

.animation-index--4 {
  animation: fadecard-in 2400ms both;
  animation-delay: 3200ms;
}

.animation-index--5 {
  animation: fadecard-in 2400ms both;
  animation-delay: 4000ms;
}

.animation-index--6 {
  animation: fadecard-in 2400ms both;
  animation-delay: 4800ms;
}

.animation-index--7 {
  animation: fadecard-in 2400ms both;
  animation-delay: 5600ms;
}

.animation-index--8 {
  animation: fadecard-in 2400ms both;
  animation-delay: 6400ms;
}

.animation-index--9 {
  animation: fadecard-in 2400ms both;
  animation-delay: 7200ms;
}

.animation-index--10 {
  animation: fadecard-in 2400ms both;
  animation-delay: 8000ms;
}

@keyframes animate-icon {
  0% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(90deg);
  }
  30% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadecard-in {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.footer {
  background-color: #353535;
  color: #f6f6f6cb;
  padding: 40px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
}
.footer__title {
  font-size: 20px;
  font-weight: 400;
  font-family: "Shrikhand", cursive;
}
.footer__icon {
  text-align: center;
  font-size: 12px;
  width: 12px;
}
.footer__text {
  font-weight: 400;
}
.footer__nav {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  margin-left: 0px;
  margin-top: 20px;
}
@media screen and (min-width: 992px) {
  .footer__nav {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
  }
}
.footer a {
  list-style: none;
  display: flex;
  padding: 12px 0;
  align-items: center;
  gap: 10px;
}
@media screen and (min-width: 992px) {
  .footer a {
    width: 22%;
  }
}

/*# sourceMappingURL=style.css.map */
