body {
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h1 {
  font-size: 25px;
  font-family: "Shrikhand", cursive;
  margin: 15px;
  font-weight: 500;
}

h2 {
  font-size: 25px;
  font-weight: bold;
}

h3 {
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
}

h4 {
  font-size: 18px;
  font-weight: 900;
}

img {
  object-fit: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header__logo {
  max-width: 260px;
  height: 90px;
  object-fit: contain;
}

.position {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f9fa46;
  padding: 20px;
  gap: 20px;
}
.position__text {
  border: none;
  font-weight: 800;
  color: #4d4d4dcc;
  width: 130px;
}

.restaurant-card__heart {
  font-size: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
  background: linear-gradient(180deg, white 0%, #ff79da 30%, #9356dc);
  background-size: 100% 200%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-position-y: 0;
  transition: all 0.1s ease;
}
.restaurant-card__heart:hover {
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  background-position-y: -3rem;
}

.button__gradient {
  border-radius: 50px;
  padding: 17px 28px;
  background: linear-gradient(175deg, #ff79da, #9356dc);
  color: #f6f6f6cb;
  filter: brightness(1);
  transition: all 0.25s;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.button__gradient:hover {
  filter: brightness(1.2);
  box-shadow: 2px 8px 8px 0 rgba(0, 0, 0, 0.3);
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 16px solid #ff79da;
  border-top: 16px solid #9356dc;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  animation: spin 2s linear infinite;
}

/* 
@keyframes spin {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(270deg); }
  100% { transform: rotate(360deg); }
} */
#loader-wrapper {
  display: none;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  -webkit-animation: spin 1s linear 4;
  animation: spin 1s linear 4;
  display: none;
  z-index: 1001;
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222222;
  z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transition: all 0.3s 0.3s ease-out;
  transition: all 0.3s 0.3s ease-out;
}

.loaded #loader-wrapper {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.3s 0.6s ease-out;
  transition: all 0.3s 0.6s ease-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.header__link__index {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__link __back {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__link i {
  font-size: 20px;
}

.header__image {
  width: 100%;
  height: 280px;
}
.header__image img {
  object-fit: cover;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  flex-direction: column;
  background-color: #f6f6f6cb;
}
.introduction__text {
  color: #4d4d4dcc;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}
.introduction h2 {
  text-align: center;
  margin-bottom: 12px;
}
.introduction__button {
  border-radius: 50px;
  padding: 17px 28px;
  background: linear-gradient(175deg, #ff79da, #9356dc);
  color: #f6f6f6cb;
  filter: brightness(1);
  transition: all 0.25s;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.introduction__button:hover {
  filter: brightness(1.2);
  box-shadow: 2px 8px 8px 0 rgba(0, 0, 0, 0.3);
}

/*
.introduction__button {
  border-radius: 50px;
  padding: 17px 28px;
  background: linear-gradient(175deg, $color-secondary, $color-primary);
  color: $background-color-layout;
  filter: brightness(1);
  transition: all 0.25s;
  box-shadow: $shadow-color-header;
  &:hover {
    filter: brightness(1.2);
    box-shadow: $shadow-button-hover;
  }
}
*/
.howitworks {
  padding: 60px 20px;
}
.howitworks__list {
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}
.howitworks h2 {
  text-align: center;
  margin-bottom: 30px;
  text-align: left;
}

.howitworks-card {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f6f6f6cb;
  padding: 20px 40px;
  border-radius: 20px;
  box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.howitworks-card:hover {
  background-color: #f7c0e7;
}
.howitworks-card:hover .howitworks-card__icon {
  color: #9356dc;
}
.howitworks-card__index {
  position: absolute;
  left: -12px;
  border-radius: 50px;
  background-color: #9356dc;
  color: #ffff;
  padding: 6px 10px;
}
.howitworks-card__icon {
  color: #4d4d4dcc;
  text-align: center;
  width: 20px;
  font-size: 20px;
}
.howitworks-card__text {
  margin-left: 30px;
  font-weight: 600;
}

.restaurants {
  padding: 50px 20px;
  background-color: #f6f6f6cb;
}
.restaurants h2 {
  margin-bottom: 30px;
}
.restaurants__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  display: flex;
  flex-direction: column;
}

.restaurant-card {
  position: relative;
  background-color: #f6f6f6cb;
  border-radius: 20px;
  box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.15);
  width: 100%;
}
.restaurant-card__image {
  height: 180px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}
.restaurant-card__body {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.restaurant-card__body h4 {
  margin-bottom: 10px;
}
.restaurant-card__tooltip {
  color: #008766;
  padding: 12px 16px;
  background-color: #99e2d0;
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 16px;
  font-weight: bold;
}
.restaurant-card__position {
  font-size: 18px;
  font-weight: 400;
}

.footer {
  background-color: #353535;
  color: #f6f6f6cb;
  padding: 40px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
}
.footer__title {
  font-size: 20px;
  font-weight: 400;
  font-family: "Shrikhand", cursive;
}
.footer__icon {
  text-align: center;
  font-size: 12px;
  width: 12px;
}
.footer__text {
  font-weight: 400;
}
.footer__nav {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  margin-left: 0px;
  margin-top: 20px;
}
.footer a {
  list-style: none;
  display: flex;
  padding: 12px 0;
  align-items: center;
  gap: 10px;
}

/*# sourceMappingURL=style.css.map */
