.restaurant-card__heart {
  font-size: 30px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
  background: linear-gradient(
    180deg,
    white 0%,
    $color-primary 10%,
    $color-secondary 20%,
    $color-secondary 80%
  );
  background-size: 100% 200%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-position-y: 0;
  transition: all 0.1s ease-in-out;

  &:hover {
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    background-position-y: -5rem;
  }
}
