.restaurant-card__heart {
  font-size: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
  background: linear-gradient(
    180deg,
    white 0%,
    $color-secondary 30%,
    $color-primary
  );
  background-size: 100% 200%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-position-y: 0;
  transition: all 0.1s ease;

  &:hover {
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    background-position-y: -3rem;
  }
}
