.loader {
    @include center-box;
    margin: auto;
    border: 16px solid $color-secondary; 
    border-top: 16px solid $color-primary; 
    border-radius: 50%;
    width: 160px;
    height: 160px;
    animation: spin 2s linear infinite;
  }
  /* 
  @keyframes spin {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(270deg); }
    100% { transform: rotate(360deg); }
  } */