.container-wrapper-animate {
  position: relative;
  opacity: 0;
  animation: fadein 6s ease-in-out forwards;
}

.loader-wrapper {
  position: absolute;
  opacity: 1;
  display: flex;
  align-items: center;
  top: 30%;
  justify-content: center;
  width: 100%;
  height: 240px;
  animation: fadein 8s ease-in-out forwards;
  animation-direction: reverse;
}

.loader {
  width: 240px;
  height: 240px;;
  border: 16px solid $background-color-layout;
  border-radius: 50%;
  border-top: 16px solid $color-primary;
  animation: spin 1.2s ease-in forwards;
  animation-iteration-count: 6.2;
}

@keyframes fadein {
  0%  { opacity: 0; }
  40% { opacity: 0; }
  60% { opacity: 1; }
  100% { opacity: 1; }
}

  @keyframes spin {
    0% { 
      transform: rotate(0deg); 
      opacity: 1;
    }
    50% { 
      transform: rotate(270deg); 
      opacity: 1;
    }
    75% { 
      transform: rotate(320deg); 
      opacity: 1;
    }
    100% { 
      opacity: 0;
      transform: rotate(360deg); 
    }
  }
