body {
  font-family: $font-text;
  color: #000000;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h1 {
  font-size: 25px;
  font-family: $font-header;
  margin: 15px;
  font-weight: 500;
}

h2 {
  font-size: 25px;
  font-weight: bold;
}

h3 {
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
}

h4 {
  font-size: 18px;
  font-weight: 900;
}

img {
  object-fit: cover;
}

.container {
  @include center-box;
  flex-direction: column;
}