@mixin center-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin gradient-button {
  border-radius: 50px;
  padding: 20px 30px;
  background: linear-gradient(180deg, $color-secondary, $color-primary);
  color: $background-color-layout;
  filter: brightness(1);
  transition: all 0.3s;
  box-shadow: $shadow-color-header;
  &:hover {
    filter: brightness(1.2);
    box-shadow: $shadow-button-hover;
  }
}

@mixin media-desktop {
  @media screen and (min-width: 1024px)
  {
    @content;
  }
}

@mixin media-tablet {
  @media screen and (min-width: 769px) and (max-width: 992px)
  {
      @content;
  }
}
