@mixin center-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin gradient-button {
  border-radius: 50px;
  padding: 20px 30px;
  background: linear-gradient(180deg, $color-secondary, $color-primary);
  color: $background-color-layout;
  filter: brightness(1);
  transition: all 0.3s;
  box-shadow: $shadow-color-header;
  &:hover {
    filter: brightness(1.2);
    box-shadow: $shadow-button-hover;
  }
}

@mixin card-heart {
  font-size: 30px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
  //position: absolute;
  //top: 210px;
  //right: 20px;
  background: linear-gradient(
    180deg,
    white 0%,
    $color-primary 10%,
    $color-secondary 20%,
    $color-secondary 80%
  );
  background-size: 100% 200%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-position-y: 0;
  transition: all 0.1s ease-in-out;

  &:hover {
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    background-position-y: -5rem;
  }
}

@mixin media-desktop {
  @media screen and (min-width: 992px)
  {
    @content;
  }
}

@mixin media-tablet {
  @media screen and (min-width: 769px) and (max-width: 992px)
  {
      @content;
  }
}
