@mixin center-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin gradient-button {
  border-radius: 50px;
  padding: 17px 28px;
  background: linear-gradient(175deg, $color-secondary, $color-primary);
  color: $background-color-layout;
  filter: brightness(1);
  transition: all 0.25s;
  box-shadow: $shadow-color-header;
  &:hover {
    filter: brightness(1.2);
    box-shadow: $shadow-button-hover;
  }
}