$font-header: "Shrikhand", cursive;
$font-text: "Roboto", sans-serif;

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-tooltip: #008766;
$color-text: #4d4d4dcc;
$color-footer-text: #f6f6f6cb;
$color-action-icon: #4d4d4dcc;

$background-color-position: #f5f9fa46;
$background-color-layout: #f2f2f2;
$background-color-menu-card: #ffff;
$background-color-action-icon-hover: #efe9f7;
$background-color-footer: #353535;

$shadow-color-header: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
$shadow-color-card: 1px 4px 8px 0 rgba(0, 0, 0, 0.15);
$shadow-button-hover: 2px 8px 8px 0 rgba(0, 0, 0, 0.3);
